.container1{
  display: grid;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
}

.principal{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.icons{
  background-color: rgb(233 233 233);
  display: flex;
  padding: 5px;
  border-radius: 2px;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  width: 70px;
  height: 30px;
}

.assets{
  margin: 10px 0px;
  width: 20px;
}

input{
  display: flex;
  flex-direction: row;
}

.prods{
  display: grid;
  grid-template-columns: repeat(4, 4fr);
}

.imgProds{
  margin: 10px 0px;
  width: 300px;
  grid-template-columns: repeat(4, 1fr);
}

.producto{
  margin: 10px 30px;
}
.container{
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.img-prod{
  width: 180px;
  height: 180px;
}