.container1{
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  margin: 10px auto;
  .principal{
    display: flex;
    justify-content: space-between;
    .search{
      display: flex;
      flex-direction: column;
      align-items: center;
      .icons{
        background-color: rgb(233 233 233);
        display: flex;
        width: 70px;
        justify-content: center;
        align-items: initial;
        border-radius: 4px;
        .assets{
          margin: 10px 5px;
          width: 20px;
        }
      }
      input{
        margin-top: 10px;
        width: 180px;
        height: 30px;
        border-radius: 8px;
      }
    }
  }

  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .producto{
      margin: 50px 30px;
      .img-prod{
        width: 180px;
        height: 180px;
      }
      .down{
        display: flex;
        align-items: baseline;
        .star{
          height: 15px;
          width: 15px;
          margin: 0px 2px;
        }
        .letter-star{
          margin:0px 10px;
        }
        button{
          margin: 0px 20px;
          color: blue;
          border: 1px solid blue;
          border-radius: 5px;
          height: 25px;
          width: 100px;
        }
      }
    }
  }
}
// .prods{
//   display: grid;
//   grid-template-columns: repeat(4, 4fr);
// }



