<div class="first">
    <div class="container">
        <h2>Creación/edición de productos</h2>
<form [formGroup]="productsForm"(ngSubmit)="onSubmit()">
    <div>
    <label>Nombre del producto:</label><br>
    <input type="text" id="name" formControlName="name" placeholder="Pon el nombre"/>
</div>

<div>
    <label>Precio:</label><br>
    <input formControlName="price" placeholder="price"/>
</div>
<div>
    <label>Descripción:</label><br>
    <input formControlName="description" placeholder="description"/>
</div>
<div>
    <label>Ruta de la imagen:</label><br>
    <input formControlName="image" placeholder="image"/>
</div>
<div>
    <label>Opiniones:</label><br>
    <input formControlName="opinions" placeholder="opinions"/>
</div> 
    <button type="submit">Guardar</button>
    <h1>PINTA{{nuevoProducto2}}no</h1>
    <div *ngFor="let producto of (listadoProductos)">

        <h2>{{producto.name}}</h2>
        <p>{{producto.description}}</p>
        <h2>{{producto.price}}</h2>
    </div>
    <h2>pinta</h2>

</form>
    </div>
    </div>

    