<div class="first">
    <div class="container">
        <div class="title">
            <h2>Creación/edición de productos</h2>
        </div>
        <div class="container-form">
            <form [formGroup]="productsForm" (ngSubmit)="onSubmit()">
                <div>
                    <label>Nombre del producto:</label><br>
                    <input type="text" id="name" formControlName="name" placeholder="Name"/>
                </div>
                <div>
                    <label>Precio:</label><br>
                    <input formControlName="price" placeholder="Price"/>
                </div>
                <div>
                    <label>Descripción:</label><br>
                    <input formControlName="description" placeholder="Description"/>
                </div>
                <div>
                    <label>Ruta de la imagen:</label><br>
                    <input formControlName="image" placeholder="Image"/>
                </div>
                <div>
                    <label>Opiniones:</label><br>
                    <input formControlName="opinions" placeholder="Opinions"/>
                </div> 
                <button type="submit" (click)="OnClick()">Guardar</button>
                
            </form>
            <div class="line"></div>
            <div class="new">
                <h4>Preview del producto: </h4>
                <p>{{nuevoProducto.name}}</p>
                <p>€{{nuevoProducto.price}}</p>
                <p>{{nuevoProducto.description}}</p>
                <img src="{{nuevoProducto.image}}">
                <p>{{nuevoProducto.opinions}}</p>
            </div>
        </div>
    </div>
</div>

    