.footer{
  display: grid;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #333333;
}

.text{
  display: flex;
}

p{
  margin: 10px;
}

h5{
  margin-left: 90px;
  font-size: 14px;
}

h4{
  margin-left: 60px;
}

a:hover{
  color: red;
}